body {
  text-align: center;
  background-color: #72567d;
}

footer {
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

a {
  color: #fef2bf;
  text-decoration: none;
}
a:hover {
  color: #40ffff;
  text-decoration: underline;
}

p {
  color: #fef2bf;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: justify;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #fef2bf;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #332738;
  border-radius: 20%;
}

.game-over {
  background-color: #e15d52;
  opacity: 0.8;
}

.red {
  background-color: #db7644;
}

.green {
  background-color: #568683;
}

.blue {
  background-color: #44dbd1;
}

.yellow {
  background-color: #d3db44;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
