body {
  text-align: center;
  background-color: #72567d;
}

footer {
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

a {
  color: #fef2bf;
  text-decoration: none;
}
a:hover {
  color: #40ffff;
  text-decoration: underline;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}

p {
  color: #fef2bf;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: justify;
}

p:hover {
  cursor: pointer;
  text-shadow: 0 10px 20px #332738;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  color: #fef2bf;
  margin: none;
  line-height: 25px;
}

.start {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  color: #fef2bf;
  margin: none;
  line-height: 25px;
}

#start:hover {
  cursor: pointer;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 20%;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #332738;
}

.game-over {
  background-color: #e15d52;
  opacity: 0.8;
}

.red {
  background-color: #db7644;
  border-radius: 20% 20% 20% 90%;
}

.green {
  background-color: #568683;
  border-radius: 20% 20% 90% 20%;
}

.blue {
  background-color: #44dbd1;
  border-radius: 90% 20% 20% 20%;
}

.yellow {
  background-color: #d3db44;
  border-radius: 20% 90% 20% 20%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 700px) {
  .container {
    display: block;
    width: 90%;
    margin: auto;
  }

  #level-title {
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fef2bf;
  }

  .btn {
    margin: 5px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 5px solid #332738;
  }
}
